[core]
	editor = vim
	excludesfile = ~/.gitignore

[user]
	name = Thierry Treyer
	email = zehkae@gmail.com

[color]
	ui = true

[alias]
	st = status
	co = checkout
	ci = commit

[push]
	default = simple
