
xterm*font:			-*-fixed-medium-r-*-*-18-*-*-*-*-*-iso8859-*
xterm*faceName:		dejavusansmono
xterm*faceSize:		9
xterm*boldFont:		fixed

xterm*foreground:   #c5c8c6
xterm*background:   #1d1f21
xterm*cursorColor:  #aeafad

xterm*color0:       #000000
xterm*color1:       #912226
xterm*color2:       #778900
xterm*color3:       #ae7b00
xterm*color4:       #1d2594
xterm*color5:       #682a9b
xterm*color6:       #2b6651
xterm*color7:       #929593
xterm*color8:       #666666
xterm*color9:       #cc6666
xterm*color10:      #b5bd68
xterm*color11:      #f0c674
xterm*color12:      #81a2be
xterm*color13:      #b294bb
xterm*color14:      #8abeb7
xterm*color15:      #ecebec
